.active{
	background: #d44179;
}

div a{
	color: antiquewhite;
}

li a{
	color: antiquewhite;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

 .body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
.login input[type='submit'] {
  background-color: #EE80AA;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

.login input[type='submit']:focus,
.login input[type='submit']:hover {
  background-color: #D44179;
}
 p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #555555;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #F79285; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .bg-5 {
      background-color: #ff87a5;
      color: #fff;
      text-align: right;
      font-size: 14px;
  }

.btn-lg{
  border-radius: 60px 60px 60px 60px;
-moz-border-radius: 60px 60px 60px 60px;
-webkit-border-radius: 60px 60px 60px 60px;
border: 0px solid #000000;
color: #000000;
  background: #EE80AA;
}

.btn-lg:hover{
  border-radius: 60px 60px 60px 60px;
-moz-border-radius: 60px 60px 60px 60px;
-webkit-border-radius: 60px 60px 60px 60px;
border: 0px solid #000000;
color: #000000;
  background: #D44179;
}

.btn-el{
  border-radius: 60px 60px 60px 60px;
-moz-border-radius: 60px 60px 60px 60px;
-webkit-border-radius: 60px 60px 60px 60px;
border: 0px solid #000000;
color: #000;
  background: #e84c4c;
}

.btn-el:hover{
  border-radius: 60px 60px 60px 60px;
-moz-border-radius: 60px 60px 60px 60px;
-webkit-border-radius: 60px 60px 60px 60px;
border: 0px solid #000000;
color: #000000;
  background: #D44179;
}

.cajabotones {
    font-size: 20px;
    color: #000000;
}








