.active{
	background: #d44179;
}

div a{
	color: antiquewhite;
}

li a{
	color: antiquewhite;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

 .body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
.login input[type='submit'] {
  background-color: #EE80AA;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

.login input[type='submit']:focus,
.login input[type='submit']:hover {
  background-color: #D44179;
}
 p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #555555;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #F79285; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }

.btn-lg{
	border-radius: 60px 60px 60px 60px;
-moz-border-radius: 60px 60px 60px 60px;
-webkit-border-radius: 60px 60px 60px 60px;
border: 0px solid #000000;
color: #000000;
	background: #EE80AA;
}

.boton{
  border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
color: #000000;
  background: #ffb5a3;
}

.boton:hover{
  border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
color: #000000;
  background: #EE80AA;
}

/*Tablas OPActivas*/
table{
    border-collapse:none;
    width: 694px;
    height: auto;
}

td{
    border: 1px solid rgba(74, 71, 71, 0.38);
    text-align: center;
    color: white;
}

#cabecera>td{
    background-color: #EE80AA;
    border-color: black;
}

/*tr:hover{
 background-color: #b44f76;
}*/

#separador{
    height: 20px;
}

button{
    background-color: #453f3f;
}

#fondotabla{
    width: 700px;
    background-color: #F79285;
    height: 400px;
    margin: auto;
    border-style: double;
    overflow: auto;
    border: 1px solid rgba(74, 71, 71, 0.38);
}